global
    maxconn 4096
    tune.ssl.default-dh-param 2048

defaults
    mode http
    log global

    timeout connect         10s
    timeout client          1m
    timeout server          1m 

listen stats
    bind *:9000
    stats enable
    stats hide-version
    stats realm HAProxy\ Stats
    stats uri /stats
    stats auth Admin:Admin

listen app
    bind *:81
    server data-kompas-app localhost:8080 maxconn 10 check

frontend www
    bind *:80
    default_backend api

backend api
    option httpchk GET /version
    server data-kompas-backend1 localhost:5000 maxconn 10 check 
